@import "../../app.scss";

.navbar{
    height: 100px;
    .wrapper{
        max-width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        @include mobile{
            padding: 20px;
        }

        span{
            font-weight: bold;
        }
        .social{
            display: flex;
            gap: 20px;

            img{
               height: 18px; 
            }
        }
        
    }
    
}